@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {

  *,
  ::before,
  ::after {
    animation: none !important;
  }
}