name: Release

on:
    push:
        tags: [v\d+\.\d+\.\d+]
    workflow_dispatch:

jobs:
    create-release:
        permissions:
            contents: write
        runs-on: ubuntu-latest
        outputs:
            release_id: ${{ steps.create-release.outputs.id }}
            release_upload_url: ${{ steps.create-release.outputs.upload_url }}
            release_body: "${{ steps.tag.outputs.message }}"

        steps:
            - uses: actions/checkout@v4

            - name: Get version
              id: get_version
              uses: battila7/get-version-action@v2

            - name: Get tag message
              id: tag
              run: |
                  git fetch --depth=1 origin +refs/tags/*:refs/tags/*
                  echo "message<<EOF" >> $GITHUB_OUTPUT
                  echo "$(git tag -l --format='%(contents)' ${{ steps.get_version.outputs.version }})" >> $GITHUB_OUTPUT
                  echo "EOF" >> $GITHUB_OUTPUT

            - name: Create Release
              id: create-release
              uses: ncipollo/release-action@v1
              with:
                  draft: true
                  name: ${{ steps.get_version.outputs.version }}
                  tag: ${{ steps.get_version.outputs.version }}
                  body: "${{ steps.tag.outputs.message }}"

    build-tauri:
        needs: create-release
        permissions:
            contents: write
        strategy:
            fail-fast: false
            matrix:
                include:
                    - os: ubuntu-latest
                      arch: x86_64
                      target: x86_64-unknown-linux-gnu
                    - os: macos-latest
                      arch: x64
                      target: x86_64-apple-darwin
                    - os: macos-latest
                      arch: arm64
                      target: aarch64-apple-darwin
                    - os: windows-latest
                      arch: x86_64
                      target: x86_64-pc-windows-msvc

        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v4

            - name: Get version
              id: get_version
              uses: battila7/get-version-action@v2

            - name: Build Tauri App
              uses: tauri-apps/tauri-action@v0.5.6
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  releaseId: ${{ needs.create-release.outputs.release_id }}
                  releaseBody: ${{ needs.create-release.outputs.release_body }}
                  tauriScript: pnpm run tauri

    publish-release:
        permissions:
            contents: write
        runs-on: ubuntu-latest
        needs: [create-release, build-tauri]

        steps:
            - name: publish release
              id: publish-release
              uses: actions/github-script@v6
              env:
                  release_id: ${{ needs.create-release.outputs.release_id }}
              with:
                  script: |
                      github.rest.repos.updateRelease({
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        release_id: process.env.release_id,
                        draft: false,
                        prerelease: false
                      })
